<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %} - ПсихоДом</title>
    <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}core/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jScrollPane.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.mousewheel.min.js"></script>
    <script>
    $(function()
    {
    $('.scroll-pane').jScrollPane({showArrows:false,scrollbarWidth:18,dragMaxHeight:18});
    });
    </script>
    <!--[if IE 6]>
      <script src="js/fix.js" type="text/javascript"></script>
      <script type="text/javascript">
        DD_belatedPNG.fix('#phone');
        DD_belatedPNG.fix('#logo');
        DD_belatedPNG.fix('#logo span');
        DD_belatedPNG.fix('#question');
        DD_belatedPNG.fix('#question img');
        DD_belatedPNG.fix('#content');
        DD_belatedPNG.fix('#main_img');
        DD_belatedPNG.fix('.input');
        DD_belatedPNG.fix('.submit input');
        DD_belatedPNG.fix('.jScrollPaneTrack');
        DD_belatedPNG.fix('.jScrollPaneDrag');
      </script>
    <![endif]-->
</head>
<body>

{% block content %}
{% endblock %}
</body>
</html>