<div id="question">
        <img src="{{ MEDIA_URL }}img/question.png" alt="Задать вопрос" />
        <script src="{{ MEDIA_URL }}core/Smarty-plugins/js/getBrowserInfo.js" type=text/javascript></script>
        <script language="javascript">getBrowserInfo();</script>
        <script src="{{ MEDIA_URL }}js/formFieldsCheck.js" type=text/javascript></script>
        <form action="/faq.html" method="POST" onsubmit="javascript: return formFieldsCheck('form');" name="form">
            <div class="input">
                <input type="text" mandatoryfield="1" name="name" onclick="if (this.value == 'Ваше имя') this.value = '';" onblur="if (this.value == '') this.value = 'Ваше имя';" value="Ваше имя" />
            </div>
            <div class="input">
                <input type="text" mandatoryfield="1" preg_mask="/^[\.\-_A-Za-z0-9]+?@[\.\-A-Za-z0-9]+?\.[A-Za-z0-9]{2,6}$/" name="email" onclick="if (this.value == 'Ваш e-mail') this.value = '';" onblur="if (this.value == '') this.value = 'Ваш e-mail';" value="Ваш e-mail" />
            </div>

            <div class="input">
                <textarea name="question_ru" mandatoryfield="1" onclick="if (this.value == 'Напишите Ваш вопрос') this.value = '';" onblur="if (this.value == '') this.value = 'Напишите Ваш вопрос';" >Напишите Ваш вопрос</textarea>
            </div>
            <div class="submit">
                <input type="submit" value="" />
            </div>
        </form>
</div>

<div>
<br>
</form>
</div>